<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Hero02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{50,54}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Hero02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{60,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Hero02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,58},{58,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{124,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c7a524c26631b4ece95ecb3a5915de1$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
